body {
    padding-top: 50px;
}

form.logout input {
	background:none!important;
    border:none;
	position: relative;
	display: block;
	padding: 10px 15px;
	color: #333333;
}

form.logout input:hover {
	color: #d9230f;
}

img.avatar{
    height: 35px;
    width: 35px;
    float:left;
    margin-top: 2px;
    margin-left: 5px;
    margin-right: -3px;
    border-radius: 25px;
}

form.logout{
    float: right;
}