
{% from "macros.html" import render_input, render_action %}    
<form class='form-stacked' method="POST" action="/login">
    {{ login_form.hidden_tag() }}
    {{ login_form.next }}
    <fieldset>
        <legend>Don't have an account? <a href="/signup">Sign up</a>!</legend>
        {{ render_input(login_form.identifier, 'xlarge') }}
        {{ render_input(login_form.password, 'xlarge') }}
        {{ render_input(login_form.remember_me, 'xlarge') }}
        {{ render_action(login_form.submit) }}
    </fieldset>
</form>
